# 将匹配的依赖提升至根模块目录中，解决某些幻影依赖无法访问到，文档参考：https://pnpm.io/zh/npmrc#public-hoist-pattern
public-hoist-pattern[] = "@vuepress/*"
public-hoist-pattern[] = "markdown-it"
public-hoist-pattern[] = "vite"
public-hoist-pattern[] = "vue-router"
public-hoist-pattern[] = "vuepress-shared"