// place your custom styles here
html[data-theme='light'] {
  .vp-blog-infos {
    .vp-blog-type-button {
      .icon-wrapper {
        &.active {
          color: #fff;
        }
      }
    }
  }
}

.vp-footer-wrapper {
  .vp-footer {
    a {
      img {
        vertical-align: middle;
        height: 16px;
      }
    }
  }
  .vp-copyright {
    display: none;
  }
}

.vp-project-panel {
  margin-left: -16px;
  margin-top: -6px;
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .vp-project-card {
    margin: 6px 0 6px 16px;
    .vp-project-image {
      border-radius: 50%;
    }
  }
  .language-yaml {
    display: none;
  }
}

.nav-container {
  --content-width: 1200px;
  .page-info,
  .breadcrumb {
    display: none;
  }
}

figcaption {
  display: none !important;
}

.vp-page.vp-page {
  .vp-blog-main {
    margin-top: 6px;
  }
}

.theme-hope-content {
  &.custom-content-before {
    padding-bottom: 0;
  }
}
