// place your custom styles here
html[data-theme='light'] {
  .vp-blog-infos {
    .vp-blog-type-button {
      .icon-wrapper {
        &.active {
          color: #fff;
        }
      }
    }
  }
}

.vp-footer-wrapper {
  .vp-footer {
    a {
      img {
        vertical-align: middle;
        height: 16px;
      }
    }
  }
  .vp-copyright {
    display: none;
  }
}

.vp-project-panel {
  margin-left: -16px;
  margin-top: -6px;
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .vp-project-card {
    margin: 6px 0 6px 16px;
    .vp-project-image {
      border-radius: 50%;
    }
  }
  .language-yaml {
    display: none;
  }
}

.nav-container {
  --content-width: 1200px;
  .page-info,
  .breadcrumb {
    display: none;
  }
}

figcaption {
  display: none !important;
}

.vp-page.vp-page {
  .vp-blog-main {
    margin-top: 6px;
  }
}

.theme-hope-content {
  &.custom-content-before {
    padding-bottom: 0;
  }
}

hr {
  position: relative;
  margin: 0.8rem auto;
  box-sizing: content-box;
  overflow: visible;
  height: 1rem;
  border: none;
  cursor: pointer;
  background: transparent;
  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: '';
    width: calc(100% - 0.25rem);
    height: 0;
    border-width: 0.125rem;
    border-style: dashed;
    opacity: 0.2;
  }
  &::after {
    position: absolute;
    line-height: 1.6rem;
    top: -0.4rem;
    left: 1%;
    font-family: 'iconfont';
    content: '\e66c';
    z-index: 2;
    font-size: 1.6rem;
    transition: 1s;
    opacity: 0.2;
  }
  &:hover:after {
    opacity: 0.8;
    left: calc(99% - 1.6rem);
  }
}

.vp-project-name {
  &.no-desc {
    margin-top: 10px;
  }
}

.vp-navbar-end {
  .vp-repo-link {
    .iconfont {
      font-size: 20px;
    }
  }
}

[aria-label][data-balloon-pos]:after {
  white-space: pre;
}
