// place your custom styles here
:root {
  --border-color: #eaecef;
  --vp-c-accent: var(--vp-c-accent-hover) !important;
}
[data-theme='dark'] {
  --border-color: #30363d;
}

html[data-theme='light'] {
  .vp-blog-infos {
    .vp-blog-type-button {
      .icon-wrapper {
        &.active {
          color: #fff;
        }
      }
    }
  }
}

.vp-footer-wrapper {
  .vp-footer {
    a {
      img {
        vertical-align: middle;
        height: 16px;
      }
    }
  }
  .vp-copyright {
    display: none;
  }
}

.vp-project-panel {
  margin-left: -16px;
  margin-top: -6px;
  a {
    &:hover {
      text-decoration: none !important;
    }
  }
  .vp-project-card {
    margin: 6px 0 6px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &::after {
      display: none !important;
    }
    .vp-project-image {
      position: relative;
      z-index: 2;
      float: right;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
  .language-yaml {
    display: none;
  }
}

.nav-container {
  --content-width: 1200px;
  .page-info,
  .breadcrumb {
    display: none;
  }
}

figcaption {
  display: none !important;
}

.vp-page.vp-page {
  .vp-blog-main {
    margin-top: 6px;
  }
}

.theme-hope-content {
  &.custom-content-before {
    padding-bottom: 0;
  }
}

hr {
  position: relative;
  margin: 0.8rem auto;
  box-sizing: content-box;
  overflow: visible;
  height: 1rem;
  border: none;
  cursor: pointer;
  background: transparent;
  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: '';
    width: calc(100% - 0.25rem);
    height: 0;
    border-width: 0.125rem;
    border-style: dashed;
    opacity: 0.2;
  }
  &::after {
    content: '';
    position: absolute;
    top: -0.6rem;
    left: 1%;
    background-color: currentcolor;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from Material Design Icons by Pictogrammers - https://github.com/Templarian/MaterialDesign/blob/master/LICENSE --%3E%3Cpath fill='currentColor' d='M12 8.5H7L4 11H3c-1.11 0-2 .89-2 2v3h2.17c.43 1.2 1.56 2 2.83 2s2.4-.8 2.82-2h6.35c.43 1.2 1.56 2 2.83 2s2.4-.8 2.82-2H23v-1c0-1.11-1.03-1.47-2-2zM5.25 12l2.25-2h4l4 2zM6 13.5A1.5 1.5 0 0 1 7.5 15A1.5 1.5 0 0 1 6 16.5A1.5 1.5 0 0 1 4.5 15A1.5 1.5 0 0 1 6 13.5m12 0a1.5 1.5 0 0 1 1.5 1.5a1.5 1.5 0 0 1-1.5 1.5a1.5 1.5 0 0 1-1.5-1.5a1.5 1.5 0 0 1 1.5-1.5'/%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    mask-position: 50% center;
    mask-size: 1em;
    z-index: 2;
    width: 1.6rem;
    height: 1.6rem;
    font-size: 1.6rem;
    transition: 1s;
    opacity: 0.2;
  }
  &:hover:after {
    opacity: 0.8;
    left: calc(99% - 1.6rem);
  }
}

.vp-project-name {
  &.no-desc {
    margin-top: 10px;
  }
}

.vp-navbar-end {
  .vp-action-link {
    .iconfont {
      font-size: 20px;
    }
  }
}

[aria-label][data-balloon-pos]:after {
  white-space: pre;
}

// .artalk,
// .artalk.atk-dark-mode,
// .atk-layer-wrap,
// .atk-layer-wrap.atk-dark-mode {
//   color: var(--main-text-color);
//   --at-color-main: var(--theme-color);
//   --at-color-light: var(--theme-color-light);
//   --at-color-red: var(--badge-danger-color);
//   --at-color-yellow: var(--badge-warning-color);
//   --at-color-font: var(--main-text-color);
//   --at-color-grey: var(--main-text-color);
//   --at-color-meta: var(--main-text-color);
// }
// .atk-comment > .atk-main > .atk-header .atk-badge {
//   color: var(--main-text-color);
// }

.vp-toc-wrapper.open {
  margin-top: 0;
}

.animation-spin {
  animation: spin 2s linear infinite;
}

.animation-spin-paused {
  animation-play-state: paused;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
