// place your custom styles here
html[data-theme='light'] {
  .blog-info-list {
    .blog-type-button {
      .icon-wrapper {
        &.active {
          color: #fff;
        }
      }
    }
  }
}

.footer-wrapper {
  .footer {
    a {
      img {
        vertical-align: middle;
      }
    }
  }
}

.article-item {
  .page-info > span {
    flex-shrink: 1 !important;
  }
}

.project-panel {
  .project {
    .image {
      border-radius: 50%;
    }
  }
}

.nav-container {
  --content-width: 1200px;
  .page-info,
  .breadcrumb {
    display: none;
  }
}

figcaption {
  display: none !important;
}
